<div class="animated fadeIn">


  <div class="row">
    <div class="col-lg-12">
      <div class="card">

        <div class="card-header">
          <i class="fa fa-align-justify"></i> Liste des équipes
        </div>
        <div class="card-body">
          <a href="/#/base/ajoutstaff">
<button type="button" class="btn btn-outline-primary btn-md btn-block">Ajouter un staff</button> <br/>
</a>
          <table class="table table-bordered ">
            <thead>
              <tr>
                <th>Type</th>
                <th>Description</th>
                <th>Equipe</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody> 
              <tr *ngFor="let staff of staffs">
                <td> <input type="text" #type class="form-control" [(ngModel)]="staff.type" STYLE="background-color: rgb(255, 255, 255)"[disabled]="!staff.isEditable"/></td>
                <td> <input type="text" #description class="form-control" [(ngModel)]="staff.description" STYLE="background-color: rgb(255, 255, 255)" [disabled]="!staff.isEditable"/></td>
               <td class="form-control" > {{staff.equipe.pays}} </td>
                
                <td>
                  <button (click)="staff.isEditable=!staff.isEditable" *ngIf="!staff.isEditable" class="btn btn-warning">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span><strong>Modifier</strong></span>
                  </button>

                  <button type="submit" onsubmit="" *ngIf="staff.isEditable" (click)="updateStaff(staff.id, type.value, description.value);staff.isEditable=!staff.isEditable" class="btn btn-outline-primary">Enregister</button>
                
                  <button (click)="deleteStaff(staff.id)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span><strong>Supprimer</strong></span> 
                  </button>
                </td>
              </tr>
             
            </tbody> 
          </table>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
