
<div class="animated fadeIn">


  <div class="row">
    <div class="col-lg-12">
      <div class="card">

        <div class="card-header">
          <i class="fa fa-align-jujoueurify"></i> Lijoueure des équipes
        </div>
        <div class="card-body">
          <a href="/#/base/ajoutjoueur">
<button type="button" class="btn btn-outline-primary btn-md btn-block">Ajouter un joueur</button> <br/>
</a>
          <table class="table table-bordered ">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Equipe</th>
                <th>Position</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody> 
              <tr *ngFor="let joueur of joueurs">
                <td> <input type="text" #nom class="form-control" [(ngModel)]="joueur.nom" STYLE="background-color: rgb(255, 255, 255)" [disabled]="!joueur.isEditable"/></td>
                <td> <input type="text" #prenom class="form-control" [(ngModel)]="joueur.prenom" STYLE="background-color: rgb(255, 255, 255)" [disabled]="!joueur.isEditable"/></td>
               
               <td> <input type="text" #position class="form-control" [(ngModel)]="joueur.position" STYLE="background-color: rgb(255, 255, 255)" [disabled]="!joueur.isEditable"/></td>
               <td class="form-control" > {{joueur.equipe.pays}} </td> 
                <td>
                  <button (click)="joueur.isEditable=!joueur.isEditable" *ngIf="!joueur.isEditable" class="btn btn-warning">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span><strong>Modifier</strong></span>
                  </button>

                  <button type="submit" onsubmit="" *ngIf="joueur.isEditable" (click)="updateJoueur(joueur.id, nom.value, prenom.value, position.value);joueur.isEditable=!joueur.isEditable" class="btn btn-outline-primary">Enregistrer</button>
                
                  <button (click)="deleteJoueur(joueur.id)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span><strong>Supprimer</strong></span> 
                  </button>
                </td>
              </tr>
             
            </tbody> 
          </table>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
