<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <h1>Inscription</h1>
                <p class="text-muted">Créez votre compte en quelques instants!</p>
                <br/>
                <br/>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="username" placeholder="Username" autocomplete="username" required>
                </div>
                <br/>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" formControlName="password" placeholder="Mot de passe" autocomplete="new-password" required>
                </div>
<br/>
                <button type="submit" class="btn btn-block btn-success">Inscription</button>
              </form>
            </div>
            <div class="card-footer p-4">
              <div class="row">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
