<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
      <strong>  Ajouter une équipe </strong>
      </div>
      <div class="card-body">
        <form #f = "ngForm" enctype="multipart/form-data" class="form-horizontal">


          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="pays">Pays</label>
            <div class="col-md-9">
              <input type="text" #pays id="pays" name="pays" class="form-control"  placeholder="Pays">

            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="description">Description</label>
            <div class="col-md-9">
              <textarea id="description" #description name="description" rows="9" class="form-control" placeholder="Description de l'équipe..."></textarea>
            </div>
          </div>

        </form>
      </div>
      <div class="card-footer">
        <button type="submit" (click)="createEquipe(pays.value, description.value)" class="btn btn-md btn-primary"><i class="fa fa-dot-circle-o"></i> Ajouter</button>

      </div>
    </div>
