
<div class="animated fadeIn">


  <div class="row">
    <div class="col-lg-12">
      <div class="card">

        <div class="card-header">
          <i class="fa fa-align-justify"></i> Liste des équipes
        </div>
        <div class="card-body">
          <a href="/#/base/ajouteq">
<button type="button" class="btn btn-outline-primary btn-md btn-block">Ajouter une équipe</button> <br/>
</a>
          <table class="table table-bordered ">
            <thead>
              <tr>
                <th>Pays</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody> 
              <tr *ngFor="let equipe of equipes">
                <td> <input type="text" #pays class="form-control" [(ngModel)]="equipe.pays" STYLE="background-color: rgb(255, 255, 255)"[disabled]="!equipe.isEditable"/></td>
                <td> <input type="text" #description class="form-control" [(ngModel)]="equipe.description" STYLE="background-color: rgb(255, 255, 255)" [disabled]="!equipe.isEditable"/></td>
               
                
                <td>
                  <button (click)="equipe.isEditable=!equipe.isEditable" *ngIf="!equipe.isEditable" class="btn btn-warning">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span><strong>Modifier</strong></span>
                  </button>

                  <button type="submit" onsubmit="" *ngIf="equipe.isEditable" (click)="updateEquipe(equipe.id, pays.value, description.value);equipe.isEditable=!equipe.isEditable" class="btn btn-outline-primary">Enregister</button>
                
                  <button (click)="deleteEquipe(equipe.id)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span><strong>Supprimer</strong></span> 
                  </button>
                </td>
              </tr>
             
            </tbody> 
          </table>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
