<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
        <strong>  Ajouter un staff </strong>
        </div>
        <div class="card-body">
          <form #f = "ngForm" enctype="multipart/form-data" class="form-horizontal">
  
  
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="nom">Type</label>
              <div class="col-md-9">
                <input type="text" #type id="type" name="type" class="form-control"  placeholder="Type">
  
              </div>
            </div>
  
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="Description">Description</label>
              <div class="col-md-9">
                <textarea id="Description" #Description name="Description" rows="9" class="form-control" placeholder="Description"></textarea>
              </div>
            </div>

             
            <div class="row">
              <div class="form-group col-sm-4">
                <label for="ccmonth">Equipe</label>
                <select class="form-control" #equipe id="equipe">
                  <option  *ngFor="let title of equipes" [value]="title.id">{{title.pays}}</option>
                </select>
              </div>
            </div>
                
  
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" (click)="createStaff(type.value, Description.value, equipe.value)" class="btn btn-md btn-primary"><i class="fa fa-dot-circle-o"></i> Ajouter</button>
  
        </div>
      
  
