<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
        <strong>  Ajouter un joueur </strong>
        </div>
        <div class="card-body">
          <form #f = "ngForm" enctype="multipart/form-data" class="form-horizontal">
  
  
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="nom">Nom</label>
              <div class="col-md-9">
                <input type="text" #nom id="nom" name="nom" class="form-control"  placeholder="nom">
  
              </div>
            </div>
  
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="prenom">Prénom</label>
              <div class="col-md-9">
                <textarea id="prenom" #prenom name="prenom" rows="9" class="form-control" placeholder="prenom du joueur..."></textarea>
              </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="position">Position</label>
                <div class="col-md-9">
                  <textarea id="position" #position name="position" rows="9" class="form-control" placeholder="position du joueur..."></textarea>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="ccmonth">Equipe</label>
                  <select class="form-control" #equipe id="equipe">
                    <option  *ngFor="let title of equipes" [value]="title.id">{{title.pays}}</option>
                  </select>
                </div>
              </div>
                
  
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" (click)="createJoueur(nom.value, prenom.value, position.value, equipe.value)" class="btn btn-md btn-primary"><i class="fa fa-dot-circle-o"></i> Ajouter</button>
  
        </div>
      
  
